@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer components {
    .text-heading1 {
        @apply text-heading text-8xl;
    }

    .text-heading2 {
        @apply text-heading text-4xl;
    }

    .text-heading3 {
        @apply text-heading text-2xl;
    }

    .logo-dark {
        @apply text-[#025582];
    }
}
