@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #025582;
}
@layer components {
    .text-heading1 {
        @apply text-heading text-8xl;
    }

    .text-heading2 {
        @apply text-heading text-6xl;
    }

    .text-heading3 {
        @apply text-heading text-4xl;
    }

    .logo-dark {
        @apply text-[#025582];
    }
}

.hero-animation-left {
    animation: 1s fade-in-left-right linear;
}

.hero-animation-right {
    animation: 1s fade-in-right-left linear;
}

@keyframes fade-in-left-right {
    from {
        scale: 0.7;
        opacity: 0;
        transform: translate(-300px);
    }
    to {
        scale: 1;
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes fade-in-right-left {
    from {
        scale: 0.7;
        opacity: 0;
        transform: translate(300px);
    }
    to {
        scale: 1;
        opacity: 1;
        transform: translate(0px);
    }
}
